body{
  width: 100vw;
  height: 100vh;
  background-color: lightgreen;
  margin: 0;
  display: flex;
}

container {
  flex-flow: column;
  width: 80%;
  margin: 1% auto;
}

#map {
  width: 100%;
  height: 80%;
}
